<div class="person-table-header">
  <div>
    <span class="title">Фильтр</span>
  </div>
  <div class="buttons">
    <button (click)="applyFilter()">Применить</button>
  </div>
</div>
<div class="filter">
  <div class="filter-inputs">
    <div class="filter-input-item">
      <span>ФИО</span>
      <input type="text" placeholder="ФИО" [(ngModel)]="filter.name"/>
    </div>
    <div class="filter-input-item">
      <span>Должность</span>
      <input type="text" placeholder="Должность" [(ngModel)]="filter.position"/>
    </div>
    <div class="filter-input-item">
      <span>Подразделение</span>
      <select [(ngModel)]="filter.subdivisionId">
        <option value="-1">Не выбрано</option>
        <option *ngFor="let s of subdivisions" [ngValue]="s.id">{{s.title}}</option>
      </select>
    </div>
  </div>

</div>


<div class="person-table-header">
  <div>
    <span class="title">Список персон</span>
  </div>
  <div class="buttons">
    <button (click)="deletePersons()">Удалить</button>
    <button (click)="addPerson()">Добавить персону</button>
  </div>
</div>
<table class="persons">
  <thead>
  <tr>
    <th style="width: 20px;"></th>
    <th style="width: 20%;">ФИО</th>
    <th>Должность</th>
    <th>Подразделение</th>
    <th>Телефоны</th>
  </tr>
  </thead>
  <tbody *ngFor="let person of persons">
  <tr>
    <td><input type="checkbox" (change)="checkUncheckPerson(person.id, $event)"></td>
    <td>
      <a [title]="'Карточка' + person.name" [routerLink]="['/person', person.id]">
        {{ person.name }}
      </a>
    </td>
    <td>{{ person.position }}</td>
    <td>{{ person.subdivision }}</td>
    <td>{{ person.phones }} </td>
  </tr>
  </tbody>
</table>
