:host {
  width: 100%;
}


.persons {
  /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
  font-family: 'Roboto', Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

.persons td, .persons th {
  border: 1px solid #ddd;
  padding: 8px;
}

.persons tr:nth-child(even) {
  background-color: #f2f2f2;
}

.persons tr:hover {
  background-color: #ddd;
}

.persons th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.person-table-header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid #4CAF50;
  text-align: end;
}

.person-table-header .title {
  font-family: 'Roboto', Arial, sans-serif;
  color: #4CAF50;
  font-size: 24px;
  font-weight: bold;
}

.person-table-header .buttons button {
  margin-left: 10px;
}

.filter {
  display: block;
  margin-top: 30px;
}


.filter .filter-buttons {
  display: block;
  text-align: end;
}

.filter .filter-inputs {
  display: flex;
  justify-content: space-between;
}

.filter .filter-inputs .filter-input-item span {
  font-family: 'Roboto', Arial, sans-serif;
  color: #4CAF50;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

