<div class="details-header">
  <div>
    <span class="title">Добавление номера. {{ person?.name }}</span>
  </div>
  <div class="buttons">
    <button (click)="savePhone()">Cохранить</button>
    <button (click)="back()">Назад</button>
  </div>
</div>
<div class="details-subheader">
  <div>
    Подразделение: {{ person?.subdivision}}
  </div>
  <div>
    Должность: {{person?.position}}
  </div>
</div>


<div class="form">
  <div class="form-input-item">
    <span>Номер</span>
    <input type="text" placeholder="Номер" [(ngModel)]="phone.number"/>
    <span class="error" *ngIf="isNumberError">Не заполнено</span>
  </div>
  <div class="form-input-item">
    <span>Тип номера</span>
    <select [(ngModel)]="phone.type">
      <option value="-1">Не выбрано</option>
      <option *ngFor="let s of phoneTypes" [ngValue]="s.id">{{s.title}}</option>
    </select>
    <span class="error" *ngIf="isTypeError">Не заполнено</span>
  </div>
</div>
