<div class="details-header">
  <div>
    <span class="title">{{ person?.name }}</span>
  </div>
  <div class="buttons">
    <button (click)="editPhone()">Редактировать</button>
    <button (click)="back()">Назад</button>
  </div>
</div>
<div class="details-subheader">
  <div>
    Подразделение: {{ person?.subdivision}}
  </div>
  <div>
    Должность: {{person?.position}}
  </div>
</div>

<div class="phone-table-header">
  <div>
    <span class="title">Список персон</span>
  </div>
  <div class="buttons">
    <button (click)="addPhone()">Добавить</button>
  </div>
</div>
<table class="phones">
  <thead>
  <tr>
    <th style="width: 100px;"></th>
    <th>Номер телефона</th>
    <th>Тип телефона</th>
  </tr>
  </thead>
  <tbody *ngFor="let phone of person?.phones">
  <tr>
    <td>
      <button (click)="deletePhone(phone.id)">Удалить</button>
    </td>
    <td>{{ phone.number }}</td>
    <td>{{ phone.type }}</td>

  </tr>
  </tbody>
</table>
