:host {
  width: 100%;
}

.details-header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid #4CAF50;
}

.details-header .title {
  font-family: 'Roboto', Arial, sans-serif;
  color: #4CAF50;
  font-size: 24px;
  font-weight: bold;
}

.details-subheader {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-bottom: 5px;
}


.phones {
  /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
  font-family: 'Roboto', Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

.phones td, .phones th {
  border: 1px solid #ddd;
  padding: 8px;
}

.phones tr:nth-child(even) {
  background-color: #f2f2f2;
}

.phones tr:hover {
  background-color: #ddd;
}

.phones th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.phone-table-header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid #4CAF50;
  text-align: end;
}

.phone-table-header .title {
  font-family: 'Roboto', Arial, sans-serif;
  color: #4CAF50;
  font-size: 24px;
  font-weight: bold;
}

.details-header .buttons button {
  margin-left: 10px;
}

