:host {
  width: 100%;
}

.details-header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 5px;
  border-bottom: 2px solid #4CAF50;
}

.details-header .title {
  font-family: 'Roboto', Arial, sans-serif;
  color: #4CAF50;
  font-size: 24px;
  font-weight: bold;
}

.details-subheader {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-bottom: 5px;
}

.details-header .buttons button {
  margin-left: 10px;
}


.form {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}


.form .form-input-item span {
  font-family: 'Roboto', Arial, sans-serif;
  color: #4CAF50;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}


.form .form-input-item .error {
  margin-left: 10px;
  color: red;
}
