<div class="details-header">
  <div>
    <span class="title">Редактирование. {{ person?.name}}</span>
  </div>
  <div class="buttons">
    <button (click)="savePerson()">Cохранить</button>
    <button (click)="back()">Назад</button>
  </div>
</div>


<div class="form">
  <div class="form-input-item">
    <span>ФИО</span>
    <input type="text" placeholder="ФИО" [(ngModel)]="person.name"/>
    <span class="error" *ngIf="isNameError">Не заполнено</span>
  </div>
  <div class="form-input-item">
    <span>Должность</span>
    <input type="text" placeholder="Должность" [(ngModel)]="person.position"/>
    <span class="error" *ngIf="isPositionError">Не заполнено</span>
  </div>
  <div class="form-input-item">
    <span>Тип номера</span>
    <select [(ngModel)]="person.subdivisionId">
      <option value="-1">Не выбрано</option>
      <option *ngFor="let s of subdivisions" [ngValue]="s.id">{{s.title}}</option>
    </select>
    <span class="error" *ngIf="isSubdivisionError">Не заполнено</span>
  </div>
</div>

